.search-box{
  .search-box-item{
    min-width:150px;
  }
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}